.login-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(90, 154, 215);

    .login-section {
        width: 500px;
        height: 800px;
        border-radius: 20px;
        padding: 30px;

        .login-container {
            background: #fff;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .login-form-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .login-form-txt {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;

                    img {
                        width: 200px;
                        margin-bottom: 10px;
                    }

                    h1:nth-child(2) {
                        color: rgb(90, 154, 215);
                        font-weight: 300;
                    }

                    h1:last-child {
                        color: rgb(90, 154, 215);
                    }
                }

                .login-form {
                    width: 100%;

                    form {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        label {
                            width: 80%;
                            height: 50px;
                            border: 2px solid rgb(90, 154, 215);
                            border-radius: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-inline: 10px;
                            margin-block: 10px;

                            input {
                                height: 100%;
                                width: calc(100% - 38px);
                                font-size: 18px;
                                border: none;
                                outline: none;

                                &::placeholder {
                                    color: rgb(90, 154, 215);
                                }
                            }
                        }

                        .login-form-frgt-pass {
                            width: 70%;
                            text-decoration: underline;
                            font-size: 17px;
                            text-align: end;
                            color: rgb(90, 154, 215);
                            cursor: pointer;
                        }

                        button {
                            width: 150px;
                            height: 45px;
                            border: 1px solid rgb(90, 154, 215);
                            background: rgb(90, 154, 215);
                            color: #fff;
                            cursor: pointer;
                            font-size: 17px;
                            border-radius: 10px;
                            margin-top: 30px;
                            transition: all 400ms;

                            &:hover {
                                background: transparent;
                                color: rgb(90, 154, 215);
                            }
                        }
                    }
                    .login-alt-txt {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        margin-top: 40px;

                        .login-alt-line {
                            width: calc((100% / 2) - 80px);
                            height: 3px;
                            background: rgb(90, 154, 215);
                            border-radius: 20px;
                        }

                        p {
                            width: 100px;
                            text-align: center;
                            color: rgb(90, 154, 215);
                        }
                    }
                }

                .login-alt-container {
                    width: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 40px;
                    margin-bottom: 70px;
                    .login-alt-google,
                    .login-alt-facebook{
                        width: calc(100% - 30px);
                        border: 1px solid rgb(90, 154, 215);
                        background: rgb(90, 154, 215);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px 10px;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: all 400ms;
                        &:hover{
                            background: transparent;
                        }
                        &:first-child{
                            margin-right: 15px;
                        }
                        img{
                            width: 40px;
                        }
                    }
                }
            }
            .login-sign-up-btn-container{
                cursor: pointer;
                span{
                    color: rgb(90, 154, 215);
                    text-decoration: underline;
                    margin-left: 10px;
                }
            }
        }
    }
    // register-styles
    .register-section {
        width: 500px;
        height: 800px;
        border-radius: 20px;
        padding: 30px;

        .register-container {
            background: #fff;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .register-form-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .register-form-txt {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;

                    img {
                        width: 200px;
                        margin-bottom: 10px;
                    }

                    h1:nth-child(2) {
                        color: rgb(90, 154, 215);
                        font-weight: 300;
                    }

                    h1:last-child {
                        color: rgb(90, 154, 215);
                    }
                }

                .register-form {
                    width: 100%;

                    form {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        label {
                            width: 80%;
                            height: 50px;
                            border: 2px solid rgb(90, 154, 215);
                            border-radius: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-inline: 10px;
                            margin-block: 10px;

                            input {
                                height: 100%;
                                width: calc(100% - 38px);
                                font-size: 18px;
                                border: none;
                                outline: none;

                                &::placeholder {
                                    color: rgb(90, 154, 215);
                                }
                            }
                        }

                        .register-form-frgt-pass {
                            width: 70%;
                            text-decoration: underline;
                            font-size: 17px;
                            text-align: end;
                            color: rgb(90, 154, 215);
                            cursor: pointer;
                        }

                        button {
                            width: 150px;
                            height: 45px;
                            border: 1px solid rgb(90, 154, 215);
                            background: rgb(90, 154, 215);
                            color: #fff;
                            cursor: pointer;
                            font-size: 17px;
                            border-radius: 10px;
                            margin-top: 30px;
                            transition: all 400ms;

                            &:hover {
                                background: transparent;
                                color: rgb(90, 154, 215);
                            }
                        }
                    }
                    .register-alt-txt {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        margin-top: 40px;

                        .register-alt-line {
                            width: calc((100% / 2) - 80px);
                            height: 3px;
                            background: rgb(90, 154, 215);
                            border-radius: 20px;
                        }

                        p {
                            width: 100px;
                            text-align: center;
                            color: rgb(90, 154, 215);
                        }
                    }
                }

                .register-alt-container {
                    width: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 40px;
                    margin-bottom: 70px;
                    .register-alt-google,
                    .register-alt-facebook{
                        width: calc(100% - 30px);
                        border: 1px solid rgb(90, 154, 215);
                        background: rgb(90, 154, 215);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px 10px;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: all 400ms;
                        &:hover{
                            background: transparent;
                        }
                        &:first-child{
                            margin-right: 15px;
                        }
                        img{
                            width: 40px;
                        }
                    }
                }
            }
            .register-sign-up-btn-container{
                cursor: pointer;
                span{
                    color: rgb(90, 154, 215);
                    text-decoration: underline;
                    margin-left: 10px;
                }
            }
        }
    }
}


